php_flag short_open_tag on

AddDefaultCharset UTF-8

php_value upload_max_filesize 10M
php_value post_max_size 12M

Options -Indexes

<FilesMatch "\.(sql|md|log)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^uploads/.*\.php$ - [F,L]
</IfModule>
